body{
    background: url("/static/image/背景.jpg") no-repeat top left;
    background-size:cover;

}


.login {
    margin-top: 70px;
}

.err-text {
    color: red;
}

.register {
    margin-top: 70px;
}
