<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ blog_obj.title }}</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/index-bbs.css">
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/index/">BLOG</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">首页 <span class="sr-only">(current)</span></a></li>
{#                    <li><a href="#">新文章</a></li>#}
                    <li><a href="#">联系</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">管理<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/blog/backend/">后台</a></li>
                            <li role="separator" class="divider"></li>
{#                            <li><a href="#">One more separated link</a></li>#}
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/blog/{{ request.user.username }}">{{ request.user.username }}</a></li>
                    <li>
                        <img src="/media/{{ request.user.avatar }}" alt="" style="height: 50px;width: 50px;border-radius: 50%">
                    </li>
                    <li id='login' style="display: block"><a href="/login/">登录</a></li>
                    <li id='register' style="display: block"><a href="/register/">注册</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">设置 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/logout/">注销</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 left-bar">
                {% load left_bar %}
                {% left_menu user_obj.username %}
            </div>

            <div class="col-md-8 middle-bar">
                {% block page-main %}

                {% endblock page-main %}
            </div>

            <div class="col-md-2 right-bar">
                <div id="test-n1"></div>
                <div class="panel panel-primary" style="margin-top: 15px">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">公告</h3>
                    </div>
                    <div class="panel-body">
                        <img class="advertising_position" src="/static/image/3.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/bootstrap-3.3.7/js/bootstrap.js"></script>
    <script src="/static/js/laydate/laydate.js"></script> <!-- 改成你的路径 -->
    <script>
        //执行一个laydate实例
        laydate.render({
            elem: '#test-n1'
            ,position: 'static'
            ,theme: '#4169E1'
        });
        var username = 'AnonymousUser';
        console.log('{{ request.user }}');
        if ('{{ request.user }}' !== username){
            $('#login').css('display', 'none');
            $('#register').css('display', 'none');
        }

    </script>
    {% block page-script %}

    {% endblock %}
</body>
</html>