<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>David-blog</title>
    <link rel="stylesheet" type="text/css" href="/static/book/css/book.css">
    <link rel="stylesheet" type="text/css" href="/static/book/css/mybook.css">

    <script src="/static/book/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/static/book/js/book.js"></script>
</head>

<body>
<section id="knowledge" class="viewBlock">
    <div class="bookBox">
        <a class="lastBtn"><</a>
        <a class="nextBtn">></a>
        <div class="bookPage frist">
            <img src="/static/book/img/刺客1.jpg" />
        </div>
        <div class="bookPage runPage">
            <!-- <div class="bookWord">
                <span>Glacier</span> red in the glacier.
                <span class="pageNumber">1</span>
            </div> -->
            <img src="/static/book/img/刺客2.jpg" />
        </div>
        <div class="bookPage runPage">
            <!-- <div class="bookWord">
                <span>Surface</span> water supply, the .
                <span class="pageNumber">2</span>
            </div> -->
            <img src="/static/book/img/刺客3.jpg" />
        </div>
        <div class="bookPage runPage">
            <!-- <div class="bookWord">
                <span>Groundwater</span>itions, good .
                <span class="pageNumber">3</span>
            </div> -->
            <img src="/static/book/img/刺客4.jpg" />
        </div>
        <div class="bookPage last">
            <div class="bookWord">
                <a href="/index/" class='index' style='text-decoration-line:underline;color:blue;font-style:italic;'>Go!去园子！</a>
            </div>
        </div>
    </div>
</section>
</body>

</html>